In [2]:
# This 
import numpy as np 
import pandas as pd

In [3]:
# read_csv reads data, and return a 2D data frame object
train_data = pd.read_csv("train.csv")
# print(train_data)
# .head by default displays first 5 records
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#Loads test data
test_data = pd.read_csv("test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
#Creates a panda series that looks for all females, and survival status
women = train_data.loc[train_data.Sex == 'female',"Survived"]
women_alive_rate = sum(women)/len(women)

print("% of women who survived: ", women_alive_rate)

% of women who survived:  0.7420382165605095

In [6]:
men = train_data.loc[train_data.Sex == 'male', "Survived"]
men_alive_rate = sum(men)/len(men)

print("% of men who survived: ", men_alive_rate)
# Women survival rate 0.74, while men is only 0.19, shows that gender was an important factor of prediction

% of men who survived:  0.18890814558058924

In [7]:
from sklearn.ensemble import RandomForestClassifier

# y is the prediction. We want to know who survived or not
y = train_data["Survived"]

# features are the variables we use to train the model, which we think affect the prediction
features = ["Pclass", "Sex", "SibSp", "Parch"]

# One Hot Encoding, however, Pclass is ordinal, Sex is nominal, but SibSp (Sibling and Spouse) and Parch (Parent and Child) are discrete
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('prediction.csv', index=False)

In [8]:
'''
In this tutorial, a Random Forest Classifier is used on 4 features. Pclass, Sex, SibSp, and Parch. 
The resulting accuracy is about 70%. There are likely other factors, as well as better classifiers 
to predict this. This will be implemented in the next updated version
'''

'\nIn this tutorial, a Random Forest Classifier is used on 4 features. Pclass, Sex, SibSp, and Parch. \nThe resulting accuracy is about 70%. There are likely other factors, as well as better classifiers \nto predict this. This will be implemented in the next updated version\n'